
.container-fluid{
    width:100%;
    height:auto;
    padding:0px;

}
.nav-link{
    color:aliceblue;
}
.container-top--header{
    
    height:auto;
}

.col-top--header{
    background-color:#02aeb0;
    
}
.col-top--content{
    margin-top:19%;
    margin-left:10%;

}
h1{
    font-size:50px;
}
.mangxahoi-link{
    margin-left: 5px;
}
.mangxahoi{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 15px;
}
.btn{
    margin-left: 5px;
}

.music-duchomaivesau{
    margin-top: 10px;
    margin-right:20px;
    margin-left:8px;
    border-radius:10px;
}
.col-top--footer{
  
    text-align:center;
    height:200px;
    color:aliceblue;
    padding-top:40px;
}
.row-content{
    display:flex;
}
.col-content{
    min-height:1000px;
}


